{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
            <form action="selection" method="post">
            {% csrf_token %}
            <div class="form__input-group">
            <select id="location_id" name="place">
                <option value="" disabled selected hidden>Select The Location</option>
                <option value="Thanjavur">Thanjavur</option>
                <option value="Sivangangai">Sivangangai</option>
                <option value="Thiruvallur">Thiruvallur</option>
            </select>
            </div>
            <div class="form__input-group">
                <select id="storage_type" name="type">
                    <option value="" disabled selected hidden>Select The Type Of Storage</option>
                    <option value="cold shed">Cold Storage</option>
                    <option value="open shed">Open Shed</option>
                    <option value="closed shed">Closed Shed</option>
                </select>
            </div>
            <input class="form__button" type="submit"  value='Submit'>
    
        </form>
    </div>
</body>
</html>